@CHARSET "ISO-8859-1";

html, body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: #000;
}



body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

header nav {
  text-align: right;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%;
}
header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in;
}
.small {
  padding: .5em 1em;
}
header nav a:hover {
  text-decoration: underline;
}

.active {
  background: rgba(255,255,255,0.3);
}

.portion {

  background-image: url('/web_portal/img/concesionarias/central.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;

    height: 20%;
}
.portion.two {
  background-image: url('/web_portal/img/concesionarias/banco_nacion_bigger-ConvertImage.jpg');
}
.portion.three {
  background-image: url('/web_portal/img/concesionarias/central.png');
}
.portion.four {
  background-image: url('/web_portal/img/concesionarias/central.png');
}
.portion h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  padding: 20% 0;
  margin: 0;
  text-shadow: 0 0 10px black;
}

.info {
  background: #FFFAF0;
  color: #777;
  padding: 3em 20%;
}

.button {
  text-align: center;
}
.button a {
  display: inline-block;
  border: 2px solid #777;
  padding: .75em 1.5em;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .15em;
  word-spacing: .25em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.button a:hover {
  color: #FFFAF0;
  background: #777;
}
footer.info {
  color: #FFFAF0;
  background: #777;
  padding: 0 auto;
  text-align: center;
}

#toTop img {
  width: 50px;
}
#toTop img:hover {
  cursor: pointer;
}
nav img {
  z-index: 1000;
  height: 2.5em;
  position: absolute;
  left: 40px;
  top: 10px;
  transition: all 0.5s linear;
}

.move {
  top: -60px;
}

nav span {
  position: absolute;
  left: 40px;
  top: 10px;
  font-weight: bold;
  transition: all 0.5s ease-in;
}

.movetext {
  top: -30px;
}