@CHARSET "ISO-8859-1";

html, body, #map {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10pt;
  color: #000;
  width: 100%;
  height: 100%;

}

body {
  margin: 0;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  padding-bottom: 6rem;
  min-height: 100%;
}

header {
  margin-bottom: 5rem;
  background-color: darkgrey;
  display: flex;
}

header nav {
  text-align: right;
  color: white;
  font-size: 1em;
  position: fixed;
  width: 100%;
  z-index: 10;
}

header nav a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 2em 1em .5em;
  -webkit-transition: all .3s ease-in;
}

.content-body {
  height: 100%;
}

.small {
  padding: 3em 1em;
}

header nav a:hover {
  text-decoration: underline;
}

.active {
  background: rgba(255,255,255,0.3);
}

.button {
  text-align: center;
}
.button a {
  display: inline-block;
  border: 2px solid #777;
  padding: .75em 1.5em;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .15em;
  word-spacing: .25em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.button a:hover {
  color: #FFFAF0;
  background: #777;
}

footer.info {
  position: inherit;
  color: #FFFAF0;
  background: #777;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: auto !important;
}

#toTop img {
  width: 50px;
}

#toTop img:hover {
  cursor: pointer;
}

nav img {
  z-index: 1000;
  height: 2.5em;
  position: absolute;
  left: 40px;
  top: 40px;
  transition: all 0.5s ease-in-out;
}

nav span {
  position: absolute;
  left: 40px;
  top: 40px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.up {
  top: +100px;
}

.down {
  top: -60px;
}

#home_btn {
  margin-left: auto;
}