@CHARSET "ISO-8859-1";

html, body, #map {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10pt;
  color: #000;
  width: 100% !important;
  height: 100% !important;

}

body {
  margin: 0;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  padding-bottom: 6rem;
  min-height: 100%;
}

.content-body {
  height: 100%;
  text-align: center;
}

.small {
  padding: 3em 1em;
}

.active {
  background: rgba(255,255,255,0.3);
}

.button {
  text-align: center;
}

.button a {
  display: inline-block;
  border: 2px solid #777;
  padding: .75em 1.5em;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  letter-spacing: .15em;
  word-spacing: .25em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.button a:hover {
  color: #FFFAF0;
  background: #777;
}

#home_btn {
  margin-left: auto;
}

#footer_navbar img {
  width: 33px;
  height: 26px;
}

#footer_navbar {
  height: 36px;
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

img.d-block.w-100.h-50 {
    height: 800px !important;
}

#footer_div {
  height: 2.7rem;
}

.gradient-background {
  /*background-image: radial-gradient(#100735, #2c3e50);*/
  background: linear-gradient(to top, #485563, #29323c);
}

/* SIDE BAR */
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

div#sidebar-wrapper {
  font-family: Palatino !important;
  font-weight: bold;
  font-size: 15px;
  color: white;
}

/* PUT DIV SPINNER IN CENTER */
#loadingDiv.parent {
  text-align: center;
}

#loadingDiv.parent > .child {
  margin: 0 auto;
  width: 900px;
}

/* divs 3 en una misma section*/
.marcas_partners {
  padding: 0 1em 2em !important;
  margin: 0 !important;
  max-width: 33% !important;
  width: 33% !important;
  max-height: 33% !important;
  height: 33% !important;
}

.marcas_partners.logos_marcas {
  width: 8em !important;
  height: 8em !important;
}

.nuestros_partners_div {
  display: flex;
  justify-content: center;
  padding: 3em 0;
  width: 100%;
  max-width: none;
}

.nuestros_partners_div img {
  height: 230px !important;
  width: 230px !important;
}

div#table_admin_result_wrapper {
    margin-top: 20px;
}


/* TABLES REPORT */
.table_report {
  margin: 15px;
}