# IntellIj
*.idea*
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
project/doc/Analisis SOA/Consultar estado cuenta/~$antilla de análisis.dot
project/doc/Analisis SOA/Sorteo/~$antilla de análisis.dot
project/workspace/Servers/
project/workspace/Herramientas/
project/workspace/.metadata/
project/workspace/.recommenders/
project/workspace/RemoteSystemsTempFiles/
project/workspace/MVC3.2/build/classes/.gitignore
project/workspace/concesionarias/concesionarias_rest/concesionarias_rest_one/src/main/resources/*
project/workspace/concesionarias/concesionarias_cxf/concesionarias_cxf_one/src/main/resources/*
project/workspace/concesionarias/concesionarias_axis/concesionarias_axis_one/src/main/resources/*
project/workspace/concesionarias/concesionarias_core/src/main/resources/*
project/workspace/concesionarias/concesionarias_cxf/concesionaria_cxf_one/ws/jaxws/*
project/workspace/concesionarias/concesionarias_cxf/concesionaria_cxf_one/ws/

# lib
project/lib/
target/

project/\.DS_Store

\.DS_Store

project/workspace/concesionarias/ws/

*.code-workspace

project/workspace/concesionarias/concesionarias_cxf/concesionaria_cxf_two/ws/jaxws/Health\.java

project/workspace/concesionarias/concesionarias_cxf/concesionaria_cxf_two/ws/jaxws/HealthResponse\.java
