# IntellIj
*.idea*
*.iml

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
project/doc/Analisis SOA/Consultar estado cuenta/~$antilla de análisis.dot
project/doc/Analisis SOA/Sorteo/~$antilla de análisis.dot
project/workspace/Servers/
project/workspace/Herramientas/
project/workspace/.metadata/
project/workspace/.recommenders/
project/workspace/RemoteSystemsTempFiles/
project/workspace/MVC3.2/build/classes/.gitignore
